<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
</head>
<body>
  <a id="custom-login-btn" href="javascript:loginWithKakao()">
    <img
      src="//k.kakaocdn.net/14/dn/btqCn0WEmI3/nijroPfbpCa4at5EIsjyf0/o.jpg"
      width="222"
    />
  </a>
  <p id="token-result"></p>
  <script>
    // SDK를 초기화 합니다. 사용할 앱의 JavaScript 키를 설정해 주세요.
    Kakao.init('8986b62bc46923845b095b75dbe1302c');

    // SDK 초기화 여부를 판단합니다.
    console.log(Kakao.isInitialized());
    function loginWithKakao() {
      Kakao.Auth.authorize({
        redirectUri: 'http://127.0.0.1:5500/components/auth/KakaoLoginView.html'
      })
    }
    // 아래는 데모를 위한 UI 코드입니다.
    displayToken()
    function displayToken() {
      const token = getCookie('authorize-access-token')
      console.log('token')
      console.log(token)
      if(token) {
        Kakao.Auth.setAccessToken(token)
        Kakao.Auth.getStatusInfo(({ status }) => {
          if(status === 'connected') {
            document.getElementById('token-result').innerText = 'login success. token: ' + Kakao.Auth.getAccessToken()
          } else {
            Kakao.Auth.setAccessToken(null)
          }
        })
      }
    }
    function getCookie(name) {
      const value = "; " + document.cookie;
      const parts = value.split("; " + name + "=");
      if (parts.length === 2) return parts.pop().split(";").shift();
    }
  </script>  
</body>
</html>